.post p {
  @apply leading-7;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-orange-500;
}

.post h1 {
  @apply mt-6 text-3xl text-neutral-100;
}
.post h2 {
  @apply mt-6 text-3xl text-neutral-100;
}

.post h3 {
  @apply mt-4 text-xl text-neutral-100;
}

.post code {
  @apply rounded-sm bg-neutral-800 px-1 py-[2px] text-red-500;
}

.post a {
  @apply text-neutral-100 underline;
}

.post ul {
  @apply list-disc;
}

.post blockquote {
  @apply flex flex-row gap-2 before:block before:h-auto before:w-1 before:max-w-[1px] before:bg-red-400 before:content-[''];
}

.post pre {
  @apply p-4;
}

.post pre > code {
  @apply bg-transparent;
}

.postHeader{
  display: flex;
  flex-direction: column;
}
.postHeader h1{
 
}
.postHeader p{

}
.postBody{
  width: 80%;
}

.backButton{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}
.backButton svg{
  width: 32px;
  height: auto;
}

.projectsContent{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  row-gap: 1rem;
  margin-top: 2rem;
}


.tags{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.tags .tag{
  color: white;
  background: orangered;
  padding: 6px 8px;
  border-radius: 8px;
}
.tags p{
  color: white;
  padding: 6px 8px;
}