/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';



.brutalist {
    border: 4px solid black;
	box-shadow: 5px 5px 0px black;
    padding: 1rem 2rem;
    font-family: Nunito;
}
.content {
    font-family: Nunito;
}
.brutalist.card{
    font-family: Nunito;
    padding: 0;
}

.brutalist.card:hover{
    transform: scale(1.01) translate(-3px, -3px);
    box-shadow: 8px 8px 0px #25282a;
    z-index: 5;
}
button.brutalist:hover{
    transform: scale(1.01) translate(-3px, -3px);
    box-shadow: 8px 8px 0px #25282a;
    z-index: 5;
}
.brutalist.article{
    font-family: Nunito;
    padding: 4rem 2rem;
}
.bg-blue {
    font-family: Nunito;
    background: rgba(67,65,144,0.25);
    color: rgba(67,65,144,1);
}
.bg-purple {
    font-family: Nunito;
    background: rgba(85,60,154,0.25);
    color: rgba(85,60,154,1);
}
.bg-white {
    font-family: Nunito;
    background: white;
}
.bg-red {
    font-family: Nunito;
    background: rgba(155,44,44,0.25);
    color: rgba(155,44,44,1);
}
.bg-green {
    font-family: Nunito;
    background: rgba(40,94,97,0.25);
    color: rgba(40,94,97,1);
}
.bg-pink {
    font-family: Nunito;
    background: rgba(151,38,109,0.25);;
    color: rgba(151,38,109,1);
}
.bg-yellow {
    font-family: Nunito;
    background: #f3d060;
}

.menu {
    font-family: Nunito;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1em;
    font-weight: 500;
    font-size: 18px;
}
.article-row {
    font-family: Nunito;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;
    height: 100%;
    max-width: 52em;
    gap: 2em;
    justify-content: center;
}

.article-card-left {
    @apply w-1/2 overflow-hidden pl-2;
}

.article-card-right {
    font-family: Nunito;
    overflow: hidden;
    width: 300px;
    display: flex;
    margin: 1em;
    flex-direction: column;
    align-items: center;
}

.article-image {
    border-radius: 8px;
    height: auto;
    width: 50%;
}

.article-title {
    @apply text-gray-900 font-thin font-serif text-xl my-5;
}

.article-body {
    @apply text-gray-900 font-thin tracking-wider leading-loose;
}

.readmore {
    @apply inline-block pt-5 text-sm font-medium tracking-wider;
}
.revue-form-field{
    padding: 0.5em 0.7em;
    border: 2px solid black;
    box-shadow: 2px 2px 0px black;
    transition: box-shadow 200ms;
}



@import 'tailwindcss/utilities';

.body{
    /* background: linear-gradient(0deg, #e9e4ff, rgba(251, 251, 251, 1)); */
    background: linear-gradient(90deg, #fefefe 21px, transparent 1%) center, linear-gradient(#fefefe 21px, transparent 1%) center, #000;
	background-size: 22px 22px;
    font-family: Nunito;
}
