---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import {HomeIcon, AboutMeIcon, BlogIcon, BookmarkIcon, LinkedinIcon, GithubIcon, GoodReadsIcon, ProjectIcon} from "../components/Icons"
import NowPlaying from "./NowPlaying";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header>
  <div class="headerContainer">
    <div class="trivialInfoSection">
      <!-- <div class="fecha">22/02/2024</div> -->
      <NowPlaying client:only="react"/>
    </div>
    <nav class="nav">
      <a href="/" class={pathname.split("/")[1] === "" ? "active" : ""}> <HomeIcon/> <span>Home</span></a>
      <a href="/posts" class={pathname.split("/")[1].includes("posts") ? "active" : ""}><BlogIcon/><span>Blog</span></a>
      <a href="/projects" class={pathname.split("/")[1].includes("projects") ? "active" : ""}><ProjectIcon/><span>Projects</span></a>
      <a href="/bookMarks" class={pathname.split("/")[1].includes("bookMarks") ? "active" : ""}><BookmarkIcon/><span>Bookmarks</span></a>
      <a href="/about" class={pathname.split("/")[1].includes("about")? "active" : ""}><AboutMeIcon/><span>About Me</span></a>
    </nav>
    <div class="rss">
      <div class="icon"><LinkedinIcon/></div>
      <div class="icon"><GithubIcon/></div>
      <div class="icon"><GoodReadsIcon/></div>
    </div>
  </div>
</header>
