---
import { Image } from "astro:assets";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import presentation from "@/data/presentation";
---

<article class="AboutResume">
    

    <div class="flex flex-col gap-8">
        <h1 class="text-5xl text-neutral-100">
            {presentation.title}
        </h1>

        <h2
            class="w-auto max-w-[80ch] leading-6"
            set:html={convertAsteriskToStrongTag(presentation.description)}
        />
    </div>
    {
        presentation.profile && (
            <Image
                src={presentation.profile}
                alt="Your Profile"
                width="800"
                height="450"
                densities={[1.5, 2]}
                loading="lazy"
                decoding="async"
            />
        )
    }
</article>
