---
import ProjectCard from "@/components/ProjectCard.astro";
import {featuredProjects, projects} from "@/data/projects";
import Link from "@/components/shared/Link.astro";
---

<article class="projectsResume">
    <header class="flex w-full flex-row justify-between gap-2">
      <h3 class="text-lg text-neutral-100">
        Projects ({projects.length})
      </h3>
      <Link href="https://github.com/BelicStorm" label="Ver Todos los proyectos" isUnderline target="_blank" />
    </header>
    {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

    <section class="projectResumeContent">
      {
        projects.length !== 0 &&
          featuredProjects.map((project) => <ProjectCard {...project} />)
      }
      <a class="seeMorecard" href="/projects" title="projects">
        <span>Ver todos los proyectos</span>
      </a>
    </section>
  </article>