---
import LinkPreview from "@/components/Linkpreview.astro";
import Layout from "@/layouts/Layout.astro";
import bookmarks from "@/data/bookmarks";
---

<Layout>
    <main class="flex flex-col gap-[4rem]">
        <h1 class="text-2xl text-neutral-100">BookMarks</h1>

        <article class="projectsContent w-full">
            {
                bookmarks.length !== 0 &&
                bookmarks.map((project) => <LinkPreview url={project.image} tags={project.techs} />
                // <div class="project"><ProjectCard {...project} /></div>
            )
            }
        </article>
    </main>
</Layout>
